<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>HinernateInit</display-name>
    <servlet-name>HinernateInit</servlet-name>
    <servlet-class>com.HinernateInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HinernateInit</servlet-name>
    <url-pattern>/HinernateInit</url-pattern>
  </servlet-mapping>
  <display-name>HibernateDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductDetailsServlet</display-name>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <servlet-class>com.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <url-pattern>/ProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentMappingDemo</display-name>
    <servlet-name>ComponentMappingDemo</servlet-name>
    <servlet-class>com.ComponentMappingDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentMappingDemo</servlet-name>
    <url-pattern>/ComponentMappingDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HibernateQueryDemo</display-name>
    <servlet-name>HibernateQueryDemo</servlet-name>
    <servlet-class>com.HibernateQueryDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateQueryDemo</servlet-name>
    <url-pattern>/HibernateQueryDemo</url-pattern>
  </servlet-mapping>
</web-app>