<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>servconfig</display-name>
    <servlet-name>servconfig</servlet-name>
    <servlet-class>serv.servconfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servconfig</servlet-name>
    <url-pattern>/servconfig</url-pattern>
  </servlet-mapping>
  <display-name>ServletConfig</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServConfig</display-name>
    <servlet-name>ServConfig</servlet-name>
    <servlet-class>serv.ServConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServConfig</servlet-name>
    <url-pattern>/ServConfig</url-pattern>
  </servlet-mapping>
</web-app>